body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:10px;
  width:1470px;
  height:116px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1470px;
  height:116px;
}
#u1 {
  position:absolute;
  left:2px;
  top:50px;
  width:1466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:133px;
  top:42px;
  width:223px;
  height:36px;
  font-family:'汉真广标 Bold', '汉真广标';
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:46px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1043px;
  top:51px;
  width:126px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1388px;
  top:45px;
  width:14px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1402px;
  top:51px;
  width:59px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:118px;
  top:136px;
  width:88px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1206px;
  top:126px;
  width:294px;
  height:594px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:594px;
}
#u13 {
  position:absolute;
  left:2px;
  top:289px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:126px;
  width:1176px;
  height:594px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1176px;
  height:594px;
}
#u15 {
  position:absolute;
  left:2px;
  top:289px;
  width:1172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:140px;
  width:1117px;
  height:580px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1117px;
  height:580px;
}
#u17 {
  position:absolute;
  left:2px;
  top:282px;
  width:1113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1171px;
  top:46px;
  width:14px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1348px;
  top:45px;
  width:32px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1184px;
  top:51px;
  width:146px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1334px;
  top:46px;
  width:14px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1060px;
  top:83px;
  width:126px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1171px;
  top:78px;
  width:14px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1185px;
  top:83px;
  width:175px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:460px;
  top:320px;
  width:201px;
  height:24px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:460px;
  top:380px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:643px;
  top:380px;
  width:176px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:460px;
  top:418px;
  width:176px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:646px;
  top:418px;
  width:176px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:460px;
  top:460px;
  width:176px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:460px;
  top:500px;
  width:144px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:675px;
  top:500px;
  width:144px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:1256px;
  top:220px;
  width:34px;
  height:34px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1303px;
  top:230px;
  width:123px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1256px;
  top:166px;
  width:34px;
  height:34px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u51 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1303px;
  top:176px;
  width:123px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1256px;
  top:275px;
  width:34px;
  height:34px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u55 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1303px;
  top:285px;
  width:123px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
